@model SmartSchoolManagementSystem.CollectionViewModel.MarkAttendenceViewModel
@{
    ViewBag.Title = "MarkAttendance";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>MarkAttendance</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <table id="table_id" class="table">
            <thead>
                <tr>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Registration Number
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>
                            @item.FirstName @item.LastName
                        <td>
                            @item.RegistrationNumber
                        </td>
                        @{
                            var StatusList = new List<Lookup>
                    {
                        new Lookup {Name = "Present"},
                        new Lookup {Name = "Absent"},
                        new Lookup {Name = "Leave"},
                    };
                        }
                        <td>
                            @Html.DropDownListFor(model => model.Lookup.LookupId, new SelectList(StatusList, "LookupId", "Name"), new { @class = "form-control" })
                        </td>
                    </tr>
                            }
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-3 pull-right">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>
