@model IEnumerable<SmartSchoolManagementSystem.Student>

@{
    ViewBag.Title = "StudentsList";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Students</li>
        <li class="active">List of Students</li>
    </ol>
</div>
<h2>List Of Parents Students</h2>
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                User Name
            </th>
            <th>
                Registration Number
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FirstName @item.LastName
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.RegistrationNumber
                </td>
                <td>
                    <a href="@Url.Action("CompliantsList", new {id = item.StudentId})" class="fa fa-paper-plane" style="font-size: 19px;">Complaints</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#table_id").dataTable();
        });
    </script>
}
