@model IEnumerable<SmartSchoolManagementSystem.Event>

@{
    ViewBag.Title = "EventsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EventsList</h2>

<p>
    @Html.ActionLink("Create New", "AddEvent")
</p>
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">News</li>
        <li class="active">List of News</li>
    </ol>
</div>
<h2>List Of News</h2>
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Venue
            </th>
            <th>
                Image
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Venue
                </td>
                <td>
                    <img class="img img-responsive cimg" src="@Url.Content(item.ImageUrl)" style="height:30px;width:30px " />
                </td>
                <td>
                    <a href="@Url.Action("EditEvent", new {id = item.EventId})" class="fa fa-pencil-square-o" style="font-size: 19px"></a> |
                    <a href="@Url.Action("DeleteEvent", new {id = item.EventId})" class="fa fa-trash" style="font-size: 19px; color: red"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#table_id").dataTable();
        });
    </script>
}