@model SmartSchoolManagementSystem.Instructor
@{
    ViewBag.Title = "TeacherDetails";
    var defaultImageURL = "~/Content/images//placeholder-image.png";
}
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>teachers / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-details-area pt-150 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="teacher-details-img">
                    <img src="@Url.Content(Model.ImageUrl)" alt="@Url.Content(defaultImageURL)">
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="teacher-details-content ml-50">
                    <h2>@Model.FirstName @Model.LastName</h2>
                    <h5>@Model.Descrimination</h5>
                    <h4>about me</h4>
                    <p>@Model.Detail</p>
                    <ul>
                        <li><span>email: </span>@Model.Email</li>
                        <li><span>contact: </span>@Model.Contact</li>
                        <li><span>Specialization: </span>@Model.Specialization</li>
                        <li><span>faculty: </span>@Model.Descrimination</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
